services:
  # main db
  postgres:
    image: postgres:16-alpine
    container_name: home-messenger-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: media_hub
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Redis for Socket.io Adapter and Cache
  redis:
    image: redis:7-alpine
    container_name: home-messenger-redis
    restart: always
    ports:
      - "6379:6379"

  # LiveKit Server (SFU)
  livekit:
    image: livekit/livekit-server:latest
    container_name: home-messenger-livekit
    restart: always
    command: --config /etc/livekit.yaml
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml
    ports:
      - "7880:7880" # API & Signaling
      - "7881:7881" # Web / HTTP
      - "4433-4500:4433-4500/udp" # WebRTC Media (UDP)
    environment:
      LIVEKIT_KEYS: "devkey: secret"

volumes:
  postgres_data: